@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KompoNetti Admin sivusto </h1>
    <p class="lead">Voit muokata hienosti tuotteita ja lisätä niitä</p>
	<p><a class="btn btn-default" @Html.ActionLink("Tuote Sivu", "Index", "Tuote") </a></p>
	
</div>

<div class="row">
	<div class="col-md-4">
	</div>
</div>